.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure even spacing */
    background-color: rgb(219, 231, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
  
    .form-input {
      flex: 1;
      padding: 10px;
      margin: 0 10px;
      border: 1px solid var(--hover-color);
      border-radius: 5px;
      font-size: 16px;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: var(--text-color);
        outline: none;
      }
    }
  
    .form-button {
      background-color: var(--hover-color);
      color: var(--text-color);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: var(--text-color);
        color: var(--primary-color);
      }
    }
  }
  