@mixin respondTo($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
  
  header {
    background-color: var(--primary-color);
    height: 80px;
    display: flex; 
    align-items: center;
  
    nav {
      max-width: 1500px;
      padding: 0 20px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
  
      .hamburger {
        display: none; 
        background: none;
        border: none;
        font-size: 30px;
        color: var(--text-color);
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
  
      .menu-list {
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        gap: var(--menu-gap);
        padding: 0;
        margin: 0;
  
        li {
          a {
            text-decoration: none;
            color: var(--text-color);
            font-weight: bold;
            text-transform: capitalize;
            transition: color 0.3s ease;
  
            &:hover {
              color: var(--hover-color);
            }
  
            &:active {
              text-decoration: underline;
            }
          }
        }
      }
  
      @include respondTo(720px) {
        .hamburger {
          display: block;
        }
  
        .menu-list {
          display: none;
          flex-direction: column;
          background-color: var(--primary-color);
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          padding: 10px;
          border-top: 2px solid var(--hover-color);
  
          &.open {
            display: flex;
          }
  
          li {    
            a {
              display: block;
              padding: 10px 20px; 
              color: var(--text-color);
              text-decoration: none;
              border-radius: 5px;
              transition: background-color 0.3s ease, color 0.3s ease;
        
              &:hover {
                background-color: var(--hover-color); 
                color: var(--primary-color); 
              }
            }
    
          }
        }
      }
    }
  }