.city-item-container {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      background-color: var(--hover-color);
    }
  
    .city-name {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: bold;
      color: var(--text-color);
      text-align: center;
    }
  
    .city-description {
      margin: 0;
      font-size: 14px;
      color: var(--text-color);
      text-align: center;
    }
  
    .city-and-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
  
      .logo-container {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid var(--hover-color);
        }
      }
    }
  
    .actions {
      margin-top: 15px;
      display: flex;
      justify-content: center;
  
      button {
        background-color: var(--hover-color);
        color: var(--text-color);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: var(--text-color);
          color: var(--primary-color);
        }
      }
    }
  }
  