.user-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    border-radius: 10px;

    a {
      text-decoration: none;
    }

  
    h2 {
      color: var(--text-color);
      text-align: center;
      margin-bottom: 20px;
    }
  
  }
  