body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.egypt {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}
.city-selector {
  margin: 1rem 0;
  text-align: center;

  label {
    font-weight: bold;
    margin-right: 1rem;
    color: #333;
  }

  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.city-details {
  margin-top: 2rem;
  text-align: center;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #00509e;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #444;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
